In [1]:
import pandas as pd
import plotly.graph_objects as go

In [ ]:
df = pd.read_csv('electricity.csv')
df.head()

In [ ]:
df = pd.read_csv('global.csv')
df.head()

In [ ]:
# Load your GDP data into a DataFrame
df_gdp = pd.read_csv('gdp_by_capita.csv')
df_gdp.head()

In [ ]:
# Reshape the data to match the energy consumption data
df_gdp_reshaped = df_gdp.melt(
    id_vars=['Country Name', 'Country Code'], 
    var_name='Year', 
    value_name='GDP per capita'
)

# Rename the 'Country Name' column to 'Entity' to match the energy consumption data
df_gdp_reshaped = df_gdp_reshaped.rename(columns={'Country Name': 'Entity', 'Country Code':'Code'})

# Remove any rows with missing GDP per capita values
df_gdp_reshaped = df_gdp_reshaped.dropna(subset=['GDP per capita'])

In [ ]:
df_gdp_reshaped.to_csv('gdp_reshaped.csv')

In [ ]:
import pandas as pd
import streamlit as st
import plotly.graph_objs as go

df_energy = pd.read_csv("energy-consumption-by-source-and-country.csv")

# Renaming the columns
df_energy.columns = [col.replace(' - TWh (zero filled)', '') for col in df_energy.columns]
df_energy.to_csv('energy-consumption-by-source-and-country.csv', index=False)

In [12]:
# Load data
df_energy = pd.read_csv('global.csv')
df_gdp = pd.read_csv('gdp_reshaped.csv')

# # Calculate world average energy consumption and GDP for each year
# df_energy_world_avg = df_energy.groupby('Year')['Primary energy consumption per capita (kWh/person)'].mean().reset_index()
# df_energy_world_avg['Entity'] = 'World'
# df_energy_world_avg.rename(columns={'Primary energy consumption per capita (kWh/person)': 'Energy Consumption'}, inplace=True)

# df_gdp_world_avg = df_gdp.groupby('Year')['GDP per capita'].mean().reset_index()
# df_gdp_world_avg['Entity'] = 'World'
# df_gdp_world_avg.rename(columns={'GDP per capita': 'GDP'}, inplace=True)

# # Append World averages to the dataframes
# df_energy = df_energy.append(df_energy_world_avg, ignore_index=True)
# df_gdp = df_gdp.append(df_gdp_world_avg, ignore_index=True)

In [15]:
df_gdp[df_gdp['Entity'] == 'World']

      Entity Code  Year  GDP per capita
114    World  WLD  1960     3596.519503
237    World  WLD  1961     3683.081432
360    World  WLD  1962     3811.363749
483    World  WLD  1963     3925.423638
606    World  WLD  1964     4096.899439
...      ...  ...   ...             ...
11520  World  WLD  2017    10545.168644
11774  World  WLD  2018    10772.903883
12027  World  WLD  2019    10936.588621
12276  World  WLD  2020    10489.861055
12520  World  WLD  2021    11011.128694

[62 rows x 4 columns]

In [ ]:
# Save the updated dataframes to csv
df_energy.to_csv('global.csv', index=False)
df_gdp.to_csv('gdp_reshaped.csv', index=False)

In [43]:
df_energy = pd.read_csv("energy-consumption-by-source-and-country.csv", index_col=0)
df_energy.columns

Index(['Entity', 'Code', 'Year', 'Geo Biomass Other',
       'Biofuels Consumption - Total', 'Solar Consumption', 'Wind Consumption',
       'Hydro Consumption', 'Nuclear Consumption', 'Gas Consumption',
       'Coal Consumption', 'Oil Consumption', 'Total Consumption'],
      dtype='object')

In [28]:
df_energy['Total Consumption'] = df_energy.sum(axis=1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_15692\3845737760.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_energy['Total Consumption'] = df_energy.sum(axis=1)

In [29]:
df_energy

,Entity,Code,Year,Geo Biomass Other,Biofuels Consumption - Total,Solar Consumption,Wind Consumption,Hydro Consumption,Nuclear Consumption,Gas Consumption,Coal Consumption,Oil Consumption,Total Consumption
0,Africa,NaN,1965,0.00000,0.0000,0.0000,0.0000,41.118813,0.0000,9.543755,323.49612,341.26276,2680.421448
1,Africa,NaN,1966,0.00000,0.0000,0.0000,0.0000,45.862915,0.0000,10.669916,323.12220,369.48657,2715.141601
2,Africa,NaN,1967,0.00000,0.0000,0.0000,0.0000,47.875538,0.0000,10.545670,330.29156,368.12524,2723.838008
3,Africa,NaN,1968,0.00000,0.0000,0.0000,0.0000,56.000473,0.0000,10.688970,343.51290,389.19986,2767.402203
4,Africa,NaN,1969,0.00000,0.0000,0.0000,0.0000,65.352100,0.0000,12.492000,346.64294,396.92285,2790.409890
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5977,World,OWID_WRL,2017,596.42050,972.5343,1185.5151,3034.9170,10831.405000,6734.8735,36529.223000,43751.67600,52515.54300,158169.107400
5978,World,OWID_WRL,2018,643.03204,1045.9080,1524.5498,3360.0188,11067.518000,6856.0166,38356.300000,44315.87500,53250.62000,162437.838240
5979,World,OWID_WRL,2019,674.74536,1120.1494,1855.5922,3744.5151,11153.792000,7073.2896,39062.945000,43699.88700,53368.63000,163772.545660
5980,World,OWID_WRL,2020,703.91644,1065.5650,2222.4430,4192.6820,11413.828000,6789.3020,38455.727000,41963.96500,48380.71000,157208.138440
5981,World,OWID_WRL,2021,762.78265,1139.9211,2701.7222,4872.0950,11183.226000,7031.3400,40374.605000,44473.19500,51170.47300,165730.359950

In [44]:
df_energy.to_csv("energy-consumption-by-source-and-country.csv", index=False)

In [34]:
df_energy.to_csv('global.csv', index=False)
df_gdp.to_csv('gdp_reshaped.csv', index=False)
df_pop = pd.read_csv('population-and-demography.csv')

In [35]:
df_energy = pd.read_csv('global.csv')
df_gdp = pd.read_csv('gdp_reshaped.csv')
df_pop = pd.read_csv('population-and-demography.csv')

df_merged = df_energy.merge(df_gdp, on=['Entity', 'Year'])
df_merged = df_merged.merge(df_pop, on=['Entity', 'Year'])

In [45]:
df_merged.head()

,Unnamed: 0,Entity,Code,Year,Primary energy consumption per capita (kWh/person),GDP per capita,Population
0,0,Afghanistan,AFG,2002,210.86215,359.766343,21000258
1,1,Afghanistan,AFG,2003,229.96822,363.101481,22645136
2,2,Afghanistan,AFG,2004,204.23125,354.033913,23553554
3,3,Afghanistan,AFG,2005,252.06912,379.955829,24411196
4,4,Afghanistan,AFG,2006,304.42090,384.078305,25442946

In [42]:
df_merged.to_csv('df_merged.csv', index=False)

In [46]:
df_merged = pd.read_csv('df_merged.csv', index_col=0)